body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Secular One', sans-serif;
}


.header {
  background: url('/images/main00.jpg') no-repeat top center;
  transition: background-image 2s;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 90vh;
}



.title {
  color: white;
  font-size: 5vw;
  text-shadow: 3px 3px 10px #000;
  text-align: center;
  position: relative;
  top: 60vh;
  background-color: rgba(249, 204, 22, 0.7);
  padding: 8px 0;
}

.main-video {
  display: flex;
}

.page-body {
  padding: 40px 30px;
  margin: 0 auto;
}

.videos {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.video-col {
  position: relative;
}

#left-col {
  margin-right: 50px;
}

.main-video {
  width: 56vw;
}

.single-video {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.primary.youtube {
  width: 56vw;
  height: 30vw;
}

.secondary.youtube {
  width: 28vw;
  height: 15vw;
}


.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #222;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.7;
    border-radius: 6px;
}

.youtube .play-button:hover {
  background-color: #bd2e23;
  opacity: 1;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
