body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Secular One', sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(249, 204, 22, 0.7);
  padding: 8px 30px;
}

.header {
  background: url("/images/main00.jpg") no-repeat top center;
  transition: background-image 2s;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  height: 90vh;
}

.title {
  color: white;
  font-size: 5vw;
  text-shadow: 3px 3px 10px #000;
  text-align: center;
  position: relative;
  top: 60vh;
  background-color: rgba(249, 204, 22, 0.7);
  padding: 8px 0;
}

.main-video {
  display: flex;
  align-items: stretch;
}

.page-body {
  padding: 50px 30px;
  margin: 0 auto;
  position: relative;
}

.page-body::after {
  content: "";
  background: url(../images/birthday.jpg);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.videos {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.video-col {
  position: relative;
}

#left-col {
  margin-right: 50px;
}

.main-video {
  width: 82vw;
  margin: 0 auto 50px auto;
}

.primary {
  width: 50vw;
}

.secondary {
  width: 28vw;
}

.wishes {
  width: 25vw;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  margin-right: 20px;
  font-size: 1.3em;
  line-height: 1.4em; }

.wishes p {
  margin-bottom: 15px;
}

.single-video {
  width: 30vw;
  display: block;
  margin-bottom: 15px;
}

.video-title {
  width: 28vw;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
}

.youtube {
  background-color: #000;
  position: relative;
  padding-top: 57.25%;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.7;
  border-radius: 6px;
}

.youtube .play-button:hover {
  background-color: #bd2e23;
  opacity: 1;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
  cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
        }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.browser-error {
  font-size: 18px;
  color: white;
  background-color: #C10808;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  display: none;
}

@supports not (display: flex) {
  .browser-error {
    display: block;
  }
}

@media screen and (max-device-width: 480px) {
  h2 {
    font-size: 4em;
  }
  .main-video {
    flex-direction: column;
  }

  .videos {
    flex-direction: column
  }

  .primary, .single-video {
    width: 100%;
    margin-bottom: 30px;
  }

  .video-title {
    font-size: 16px;
  }

  .wishes, .secondary, .video-title {
    width: 100%;
  }

  .title {
    top: 30vh;
    font-size: 100px;
  }

  .image-header {
    height: 100vh;
  }

}
